{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Register page</title>
    {% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> {% endblock styling %}
</head>

<body>
    <div class="site-header">
        <h2>Register</h2>
    </div>
    <hr/>
    <div class="register-outter-container">
        <div class="register-inner-container">
            <form action="/register/" method="post">
                {% csrf_token %} {{ form }}
                <br/>
                <button class="btn btn-warning" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <br/>
    <br/>
</body>

</html>